/* body {
  background-color: #ebebeb;
} */

.about-intro {
  padding: 100px 0;
}

.about-intro-image {
  position: relative;
  max-width: 38%;
  border: 12px solid #db0000;
  text-align: center;
  padding: 100px 0;
}

.about-intro-image img {
  position: absolute;
  top: -65px;
  right: 8%;
  left: 8%;
}

.about-intro-subtitle {
  text-transform: uppercase;
  font-size: 18px;
  color: #777;
}

.about-intro-title {
  font-size: 28px;
  color: #db0000;
  font-weight: bold;
  margin-bottom: 20px;
}

.aboutus-gallery {
  background-color: #222;
  background-image: url(../images/img-2.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100vh;
  background-position: right;
}

.about-gallery-left {
  color: lightgray;
  max-width: 50%;
  padding: 50px 0;
  padding-right: 20px;
  border-right: 4px solid #db0000;
}

.about-gallery-title {
  color: #ebebeb;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-gallery-text {
  line-height: 35px;
  font-size: 18px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .about-intro-image {
    max-width: 90%;
  }

  .about-intro-image img {
    width: 100%;
  }

  .aboutus-gallery {
    background-image: none;
    text-align: center;
  }

  .aboutus-gallery .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 990px) {
  .about-intro-image img {
    position: absolute;
    top: 50%;
  }

  .about-gallery-left {
    padding-left: 20px;
    max-width: 100%;
    margin: 0 auto;
    border-right: none;
    border-left: 2px solid #db0000;
  }

  .aboutus-gallery {
    background-image: none;
  }
}
