/*Import Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@400;800&display=swap");

/* Basic Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties */

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #db0000;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* Global Styles */

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #ebebeb;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* section {
  padding: 2rem 0;
} */

/* Reusable Styles */
.container {
  width: 100%;
  max-width: 80%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.color {
  color: #db0000;
}

.gym-btn {
  padding: 15px 80px;
  background-color: transparent;
  border: 2px solid #db0000;
  color: #db0000;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.4s;
}

.gym-btn:hover {
  color: #fff;
  background-color: #db0000;
}

.outline-white {
  padding: 12px 60px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.4s;
}

.outline-white:hover {
  background-color: #fff;
  border: none;
  color: #db0000;
}

.outline-2 {
  padding: 12px 40px;
  background-color: transparent;
  border: 2px solid #777;
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.4s;
}

.outline-2:hover {
  background-color: transparent;
  border: 2px solid #db0000;
  color: #db0000;
}

.main-title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #db0000;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #888;
  margin-bottom: 20px;
}

.bg-text {
  position: absolute;
  top: 0px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  opacity: 0.08;
  z-index: -1;
}

.bg-text-2 {
  position: absolute;
  bottom: -130px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  opacity: 0.08;
  z-index: -1;
}

.search {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  display: none;
}

#search-icon {
  cursor: pointer;
}

.search-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: none;
}

.search-input {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  font-style: italic;
}

.profile {
  cursor: pointer;
}

/* Shopping cart */
.shopping-cart {
  position: absolute;
  right: 200px;
  width: 360px;
  max-height: 600px;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 100;
  display: none;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #777;
}

.cart-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.cart-desc {
  max-width: 200px;
}

.cart {
  cursor: pointer;
}

.qty {
  font-size: 20px;
  color: #777;
}

.cart-product {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid lightgray;
}

.cart-buttons {
  display: flex;
}

.viewcart-btn {
  background-color: #db0000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px;
}

.viewcart-btn i {
  margin-right: 12px;
}

.viewcart-btn:hover {
  cursor: pointer;
  background-color: #880000;
}

.checkout-btn {
  background-color: #dedede;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 30px;
  cursor: pointer;
}

.close {
  font-weight: 500;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

/* Header Styles */
/* Topbar */
.topbar {
  background-color: #fff;
  color: #111;
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: inline-flex;
}

.topbar-right {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.left-item {
  margin-right: 20px;
}

.left-item i {
  margin-right: 5px;
}

.top-btn {
  text-transform: uppercase;
  background-color: #111;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding: 14px 35px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

.top-btn:hover {
  color: #f14d4d;
}

.top-social {
  font-size: 12px;
  margin-right: 20px;
}

/* Navbar */
.nav {
  background-color: #db0000;
  color: #fff;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  background-color: #111;
  color: #fff;
  padding: 20px 30px;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.nav-items {
  display: inline-flex;
  position: relative;
}

.nav-item {
  margin-right: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #777;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item a {
  color: #fff;
  font-weight: 500;
}

.nav-right i {
  margin-right: 20px;
  font-size: 18px;
}

.nav-right i:last-child {
  margin-right: 0px;
}

.fa-shopping-basket {
  position: relative;
}

.items-counter {
  font-size: 10px;
  position: absolute;
  right: -15px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.menu-bar {
  display: none;
}

/* Hero */
.hero {
  height: 100vh;
  position: relative;
  padding: 0px 0px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}

/* .carousel-item {
  height: 100vh;
} */

/* .one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} */

.carousel-control-prev {
  clip-path: polygon(50% 0, 0 50%, 50% 100%);
  max-height: 300px;
  margin: auto 0;
  margin-left: 10%;
  background-color: #ffff;
  color: #999;
}

.carousel-control-next {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%);
  max-height: 300px;
  margin: auto 0;
  margin-right: 10%;
  background-color: #db0000;
  color: #999;
}

.carousel-control-prev-icon {
  font-size: 25px;
}

.carousel-item {
  position: relative;
  height: 100vh;
  background-color: #111;
  background-position: center;
  background-size: cover;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  /* background-color: #333;
  opacity: 0.8;
  padding: 50px; */
}

.hero-sub {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-heading {
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
  font-style: italic;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.overlay-image {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}

/* Trainers CTA */
.trainers-cta {
  width: 70%;
  margin: 0 auto;
  background-color: #db0000;
  color: #fff;
  padding: 30px 50px;
  position: relative;
  top: -150px;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-content {
  max-width: 50%;
}

.cta-text {
  margin-bottom: 20px;
}

.cta-image {
  max-width: 50%;
}

.cta-image img {
  position: relative;
  top: -50px;
}

/* About intro */
.about-intro-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.about-title {
  font-size: 22px;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-heading {
  font-size: 30px;
  color: #db0000;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-content {
  margin-bottom: 20px;
  font-size: 18px;
  color: #777;
}

.about-content:last-child {
  margin-bottom: 40px;
}

.about-left {
  padding: 30px 100px 30px 30px;
  border: 15px solid #db0000;
}

.about-right {
  position: relative;
}

.about-img {
  display: none;
}

.about-right img {
  padding: 95px 20px;
  border: 15px solid #db0000;
}

.year-since h3 {
  position: absolute;
  right: 50px;
  bottom: 50px;
  transform: rotate(270deg);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 15px 0px;
}

/* Services carousel */
.services-carousel {
  position: relative;
}

.news-card {
  height: 100%;
  max-height: 25vh;
}

.news-card img {
  height: 25vh;
  max-height: 100%;
}

.card {
  position: relative;
  margin: 30px 0px;
  padding-bottom: 50px;
  max-width: 350px;
}

.card:hover .service-icon {
  background-color: #db0000;
  color: #fff;
}

.card-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.service-icon {
  position: relative;
  top: -50px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 15px solid #ebebeb;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  font-size: 40px;
}

/* News Insights */
.news-insights {
  position: relative;
}

/* Gym CTA */
.gym-cta {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/cathy-pham-3jAN9InapQI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.cta-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.cta-gym-title {
  font-size: 46px;
  font-weight: normal;
}

.cta-subtitle {
  font-size: 22px;
}

.video-button {
  position: relative;
  top: -100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid lightgray;
  z-index: 10;
  padding-top: 15px;
}

.video-button i {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 120px;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}
/* Gym Features */
.gym-features {
  width: 100%;
  position: relative;
  top: -170px;
  margin-bottom: -70px;
}

.feature-card-one {
  padding: 70px;
  background-color: #db0000;
  color: #fff;
}

.feature-card-two {
  padding: 70px;
  background-color: #b30000;
  color: #fff;
}

.feature-card-three {
  padding: 70px;
  background-color: #880000;
  color: #fff;
}

.feature-card-four {
  padding: 70px;
  background-color: #650000;
  color: #fff;
}

.feat-icon i {
  font-size: 44px;
  margin-bottom: 20px;
}

.feature-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Trainers */
.trainers {
  position: relative;
}

.coach-card-body {
  text-align: center;
  padding: 80px 40px;
  background-color: #fff;
}

.coach-card-body:hover .coach-name {
  color: #db0000;
}

.coach-image {
  text-align: center;
}

.coach-image img {
  max-width: 80%;
  position: relative;
  top: 40px;
}

.coach-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.coach-title {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.coach-details {
  color: #777;
  margin-bottom: 20px;
}

/* Store Section */
.store {
  background-image: linear-gradient(
      to bottom,
      rgba(219, 0, 0, 0.7),
      rgba(109, 0, 0, 0.9)
    ),
    url("../images/storebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shop-card {
  padding: 30px;
}

.product-image img {
  margin-bottom: 20px;
}

.product-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-title:hover {
  color: #db0000;
  cursor: pointer;
}

.product-excerpt {
  color: #888;
}

.price {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.currency {
  position: absolute;
  font-size: 14px;
  right: -10px;
}

/* Testimonials */
.testimonials {
  padding: 80px 0px;
  position: relative;
}
.testimonial-body {
  margin: 60px auto;
  display: none;
}

.testimony-active {
  display: block;
}

.testimony {
  font-size: 18px;
}

.testimony-author {
  position: relative;
  bottom: -20px;
  font-weight: bold;
  color: #888;
  opacity: 0.3;
  z-index: -1;
}

.author-pics {
  background-color: #db0000;
  padding: 10px 0px;
  margin-top: 160px;
}

.active-pic {
  border: 10px solid #db0000;
}

.author-pics img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s;
}

.author-details {
  position: relative;
  top: -80px;
  color: #ebebeb;
}

/* Gallery Section */
.gallery-section {
  position: relative;
  top: -80px;
}

/* Contact-address  */
.contact-address {
  background-color: #fff;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.ca-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ca-wrapper i {
  font-size: 20px;
  margin-right: 12px;
}

.ca-left-item i {
  color: #db0000;
}

.ca-right i {
  margin-right: 30px;
}

.ca-right i:hover {
  color: #db0000;
  cursor: pointer;
}

.ca-right i:last-child {
  margin-right: 0;
}

.ca-left-item {
  margin-right: 50px;
}

/* Footer Section */
.footer {
  background-color: #f8f8f8;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

.footer-wrapper {
  max-width: 50%;
  margin-bottom: 100px;
}

.footer-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.footer-text {
  color: #777;
}

.footer-navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #777;
  margin-bottom: 30px;
}

.footer-nav-title:hover {
  color: #db0000;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-link {
  font-weight: 600;
  color: #999;
  margin-bottom: 15px;
}

.footer-link:hover {
  color: #db0000;
}

.copyright {
  border-top: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* OTHER PAGES */
.pages-header {
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/bruce-mars-gJtDg6WfMlQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  color: #fff;
}

.ph-wrapper {
  position: relative;
}

.ph-title {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
}

.ph-left {
  display: block;
  align-items: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.home {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #db0000;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-right: 20px;
}

.breadcrumb-item.active {
  color: #fff;
  /* font-size: 24px; */
  margin-left: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #db0000;
}

.page-year {
  position: absolute;
  right: 20px;
  bottom: -40px;
}

.page-year h3 {
  transform: rotate(270deg);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
  width: 250px;
  text-align: center;
  padding: 15px 0px;
}

/* Media queries */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .trainers-cta {
    top: -50px;
  }

  .card {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .topbar-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-item {
    padding: 12px 0px;
  }

  .email {
    display: none;
  }

  .hero-heading {
    font-size: 60px;
  }

  .about-right {
    display: none;
  }

  .about-left {
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #db0000;
    text-align: center;
  }

  .year-since {
    transform: rotate(90deg);
  }

  .about-img {
    display: none;
  }

  .card {
    max-width: 350px;
  }

  .ca-wrapper {
    display: block;
  }

  .ca-left-item {
    text-align: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  .footer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-title {
    text-align: center;
  }

  .footer-text {
    text-align: center;
  }

  .footer-buttons a {
    font-size: 17px;
  }

  .shopping-cart {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .topbar {
    padding: 12px 0px;
    background-color: #db0000;
    color: #fff;
  }

  .nav {
    background-color: #fff;
    color: #333;
  }

  .nav-logo {
    color: #fff;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .nav-menu {
    display: none;
  }

  .top-btn {
    display: none;
  }

  .top-social {
    display: none;
  }

  .items-counter {
    background-color: #db0000;
    color: #fff;
  }

  .menu-bar {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }

  /* Hero */
  .hero {
    padding-bottom: 30px;
  }
  .carousel-control-prev {
    max-height: 150px;
  }

  .carousel-control-next {
    max-height: 150px;
  }

  .trainers-cta {
    width: 100%;
    top: 0px;
  }

  .cta-content {
    max-width: 100%;
    text-align: center;
  }

  .cta-image {
    display: none;
  }

  /* About intro */
  .about-img {
    display: block;
    margin: 30px 0px;
  }
  /* .about-intro-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
*/
  .about-right {
    padding-top: 10px;
  }

  .card {
    max-width: 330px;
  }

  .about-left {
    margin-top: 50px;
    padding: 20px;
    border: 5px solid #db0000;
  }

  .ca-wrapper {
    display: block;
  }

  .ca-left-item {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .footer-wrapper {
    max-width: 100%;
  }

  .footer {
    background-image: none;
  }
}
